---
layout: layout.liquid
title: 11ty Boilerplate
---


<div class="maincard">
  <div class="inner">
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
  </div>
  <div class="inner">
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
  </div>
  <div class="inner">
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
  </div>
</div>
