---
layout: layout.liquid
title: 11ty Boilerplate
---


<div class="maincard">
  <div class="inner2">
    <div class="minicard">
      <div class="sun-planet"></div>
      <h2>Sun</h2>
      <h3>Type G2V</h3>
    </div>
  </div>
  <div class="inner">
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mercury</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Venus</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Jupiter</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Saturn</h2>
      <h3>AU Distance</h3>
    </div>
  </div>
  <div class="inner">
    <div class="minicard">
      <div class="planet"></div>
      <h2>Earth</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Mars</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Uranus</h2>
      <h3>AU Distance</h3>
    </div>
    <div class="minicard">
      <div class="planet"></div>
      <h2>Neptun</h2>
      <h3>AU Distance</h3>
    </div>
  </div>
</div>
