:root {
    --card-color: #B4B4B4;
    --planet-color: white;
    --background-color:#2b2c2c;
    --minicard-background: #333;
    --orange-color: #ff9900;
    --red-color: #cc3300;
}

body {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    background: #2b2c2c;
    padding: 0 20px;
    margin: 40px;

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}


h1 {
    text-align: left;
    font-size: 4em;
    letter-spacing: -2px;
}

.maincard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: auto;
    gap: 30px; 
    background: var(--background-color);
    
} 

.inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: auto; */
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    background: var(--background-color);
}

.inner2 {
    display: grid;
    grid-row: span 1;
}

.minicard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--card-color);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}


h2 {
    color: #2b2c2c;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 600;
    margin: 10px 0 0 0;
}

.inner2 h2 {
    font-size: 4.5em;
}

.inner2 h3 {
    color: var(--background-color);
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px 0 0 0;
}

h3 {
    color: var(--background-color);
    font-weight: 600;
    color: #2b2c2c;
    margin: 10px 0 0 0;
}

.planet {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--planet-color);
    margin-top: 25px;
    margin-bottom: 10px;

}

.sun.planet {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: radial-gradient(var(--orange-color), var(--red-color));
    margin-bottom: 20px;
}

.planet.mercury {
    width: 50px;
    height: 50px;
    background-image: radial-gradient(var(--sun-color1), var(--sun-color2));
}

.planet.venus {
    width: 80px;
    height: 80px;
    background-image: radial-gradient(var(--sun-color1), var(--sun-color2));
}

.planet.jupiter {
    width: 160px;
    height: 160px;
    background-image: radial-gradient(var(--sun-color1), var(--sun-color2));
}

.planet.saturn {
    width: 140px;
    height: 140px;
    background-image: radial-gradient(var(--sun-color1), var(--sun-color2));
}

.planet.earth {
    width: 90px;
    height: 90px;
    background-image: radial-gradient(var(--sun-color1), var(--sun-color2));
}

.planet.mars {
    width: 70px;
    height: 70px;
    background-image: radial-gradient(var(--sun-color1), var(--sun-color2));
}

.planet.uranus {
    width: 120px;
    height: 120px;
    background-image: radial-gradient(var(--sun-color1), var(--sun-color2));
}

.planet.neptun {
    width: 100px;
    height: 100px;
    background-image: radial-gradient(var(--sun-color1), var(--sun-color2));
}
