:root {
    --card-color: #B4B4B4;
    --planet-color: white;
    --background-color:#2b2c2c;
}

body {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    background: #2b2c2c;
}

main {
    background: #2b2c2c;
    padding: 0 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: left;
    font-size: 4em;
    letter-spacing: -2px;
}

.maincard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; 
    background: var(--background-color);
    border-radius: 20px;
}

